.live{
    height: 600px;
    width: 100%
}
.live-holder{
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
    background-image: url("../../resources/images/Live.jpg");
    background-size: cover;
}

.live-holder>img{
    width: 100%;
    transform: scale(1.2);
}
/* .live-holder>.img{
    width: 100%;
    transform: scale(1.2);
    background-image: url("../../resources/images/Live.jpg");
} */

.live-cover{
    height: inherit;
    position: absolute;
    width: inherit;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 170, 0.658);
    opacity: 1;
}
.live-texts{
    text-align: center;
     padding: 8% 0 25% 0; 
    /* padding-top: calc(100vw * 0.12);
    padding-bottom: calc(100vw * 0.12); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.live-texts>p{
    font-size: 40px;
    font-family: "dosis";
    font-weight: 100;
    color: white;
}
.live-texts>p:first-of-type{
    font-size: 18px;
    font-family: "dosis";
    font-weight: 100;
    color: white;
    margin: 7px 0;
    font-weight: 400;
}

.round-btn{
    margin: 40px auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border: 7px solid rgb(235, 235, 235);
    background-color: rgba(7, 156, 255, 0.123);
}

.round-btn>i{
    color: rgb(238, 238, 238);
    font-size: 30px;
    transition: 0.3s;
    margin-left: 4px;

}

.round-btn:hover>i{
    color: rgb(255, 255, 255);
    transform: scale(1.3)
}
.round-btn:hover{
    color: rgb(255, 255, 255);
    border: 5px solid rgba(235, 235, 235, 0.109);
    transform: scale(1.1);
    /* border: 7px solid rgb(255, 255, 255); */
}


@media only screen and (max-width: 720px) {
    .live{
        height: 400px;
    }

}